[package]
name = "rmz"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Fast rm provides an alternative to rm that focuses on maximizing performance."
repository.workspace = true
keywords = ["tools", "files", "rm"]
categories = ["command-line-utilities", "development-tools", "filesystem"]
license.workspace = true

[dependencies]
clap2 = { version = "4.0.32", features = ["derive", "wrap_help"] }
error-stack = "0.3.0"
fuc_engine = { version = "1.1.3", path = "../fuc_engine" }
thiserror = "1.0.38"

[dev-dependencies]
criterion = "0.4.0"
ftzz = "1.2.0"
tempfile = "3.3.0"
trycmd = "0.14.11"
rm_rayon = { path = "../comparisons/rm_rayon" }
rm_og_crappy = { path = "../comparisons/rm_og_crappy" }
supercilex-tests = "0.2.2"
remove_dir_all = "0.7.0"

[[bench]]
name = "rmz"
harness = false
