[package]
name = "fuc_engine"
version.workspace = true
authors.workspace = true
edition.workspace = true
description = "Engine for the FUCing project."
repository.workspace = true
keywords = ["tools", "files"]
categories = ["filesystem"]
license.workspace = true

[dependencies]
crossbeam-channel = "0.5.8"
thiserror = "1.0.50"
typed-builder = "0.18.0"

[target.'cfg(target_os = "linux")'.dependencies]
rustix = { version = "0.38.26", features = ["fs", "thread", "linux_latest"] }

[target.'cfg(not(target_os = "linux"))'.dependencies]
rayon = "1.8.0"

[target.'cfg(target_os = "windows")'.dependencies]
remove_dir_all = "0.8.2"

[dev-dependencies]
ftzz = "2.0.3"
rstest = { version = "0.18.2", default-features = false }
supercilex-tests = "0.4.1"
tempfile = "3.8.1"
